<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmitterKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1102850C19C9BCEB0069F253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1102851619C9BCEB0069F253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115F4C9519BE9FCA00595510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115F4CA719BE9FCB00595510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
